//color names provided by http://chir.ag/projects/name-that-color/
$white: #fff;
$black: #000;
$atlantis: #8ccb24;
$lima: #7ebe15;
$test: $black;
$brand-green: #16a085; //darker
$apple: #5fb92d;
$shark: #28282a;
$bg-black: #18181b;
$dark-green: #2b5034;
$dark-red: #ab162b;
$green: #82bc00;
$red: #eb0028;
$mineshaft: #373737;
$grey: #a3a3a3;
$nevada: #707172;
$silver-sand: #b8babc;
$dew-black: #171719;
$bombay: #b0b2b4;
$dark-white: #f5f6f7;
$mountain-meadow: #1ABC9C; //lighter
$dummy: rgba($black, .5);
