/* FONTS */
@mixin openSansBold($color: $white) {
  color: #{$color};
  font-family: 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif;
  font-weight: bold;
}
@mixin courier($color: $white) {
  color: #{$color};
  font-family: 'Courier New', Courier, monospace;
}
@mixin helvetica($color: $white) {
	color: #{$color};
	font-family: 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif;
}
