$imagePath: $aws+'/images/';//css path for images
$placehold_it: 'http://placehold.it/';
$z-index-100: 100;
$z-index-60: 60;
$z-index-50: 50;
$z-index-40: 40;
$z-index-30: 30;
$z-index-1: 1;
$z-index-dotcom: 10000;
$z-index-can: $z-index-40;
$delta-medium: 5; //percent difference on medium screens
$mult-m: 1.3; //font multiplier for medium and mobile
$mult-m-2: 1.1;
$top-offset-mb: -1;
$ease-out-expo: cubic-bezier(.190, 1.000, .220, 1.000); /* easeOutExpo */
$duration-std: .3s;
$default-ease: $ease-out-expo;
$test-ease: cubic-bezier(0,1,.85,1);
$ease-in-out: ease-in-out;
$default-transition: all $duration-std $default-ease;
