      <picture class='MY_CLASS'>
          <!-- iphone 6+ and samsung!-->
          <source media="(-webkit-min-device-pixel-ratio: 3) and (max-width: 767px)" srcset="http://placehold.it/300x200">
          <!-- iphone 6 and below !-->
          <source media="(-webkit-min-device-pixel-ratio: 2) and (max-width: 767px)" srcset="http://placehold.it/200x200">
          <!-- android !-->
          <source media="(max-width: 767px)" srcset="http://placehold.it/100x200">
          <!-- retina !-->
          <source media="(-webkit-min-device-pixel-ratio: 2)" srcset="http://placehold.it/200x500">
          <!-- everything else !-->
          <img class='aog-image-brick__image-element'  srcset="http://placehold.it/100x500" alt='ALT'>
      </picture>  