<svg style="display:none">
    <defs>
        {{!-- EXAMPLE DEF --}}
        <symbol  x="0px" y="0px" id="secondary-element-green-c" viewBox="0 0 39 17.6" enable-background="new 0 0 39 17.6">
            <g>
                <polygon fill="#E93337" points="39,0 0,15.7 29.9,17.6 	" />
            </g>
        </symbol>
    </defs>
</svg>