//this file keeps the env variable for all different target platforms

/* @if NODE_ENV='prod' */
$aws: '.';
/* @endif */

/*  @if NODE_ENV='local' */
$aws: '.';
/*  @endif */

/*  @if NODE_ENV='stage' */
$aws: '.';
/*  @endif */
