/*----------  THIS STYLESHEET CONTROLS THE LAYOUT OF THE BUTTONS (e.g. CTA ON THE STATIC MODULE)  ----------*/
$radius: 3px;
%button-base {
  $p-t: 20px;
  $f-s: .12;
  $l-h: 50px;
  $l-s: .02;
  $mult: 1;
  $m: 30px;
  @include openSansBold();
  border-radius: $radius;
  cursor: pointer;
  display: inline-block;
  font-size: $f-s * 100 + px;
  letter-spacing: $l-s * 100 + px;
  line-height: $l-h;
  margin-bottom: $m;
  margin-left: auto;
  margin-right: auto;
  margin-top: $m / 2;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  transition: all .4s $ease-out-expo;
  width: span-cols(3, true);

  @include touch {
    color: $white;
  }
}

@mixin button($bg-color: $brand-green) {
  background-color: $bg-color;
  @extend %button-base;
  //@include touch {
  //  background-color: darken($bg-color, 10%);
  //}
  @include growAndShrink($bg-color);
}


.r-cta {
  @include button($brand-green);
}

.r-btn-addon {
  border-bottom-right-radius: $radius;
  border-radius: 0;
  @include button($brand-green);
  border-top-right-radius: $radius;
  left: -5px;
  margin: 0;
  position: relative;
}

